<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎扫码登录</title>
    <link rel="icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico" type="image/x-icon">
    <style type="text/css">
        .divmain{
            text-align: center; /*让div内部文字居中*/
            line-height: 500px;
        }

    </style>
</head>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<body bgcolor="#C4C4C4">


<div  class="divmain">

    <p><h3>请在电脑浏览器访问</h3></p>
</div>
</body>
</html>
